@model IEnumerable<Students.Models.Student>
@{ 
    Layout = "_Layout";
}


<table class="table">
    <thead>
        <tr>
            <th>
                Last Name
            </th>
            <th>
                First Name
            </th>
            <th>
                eMail
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                <a href="mailto:@Html.DisplayFor(modelItem => item.eMail)">@Html.DisplayFor(modelItem => item.eMail)</a>
            </td>
 
        </tr>
}
    </tbody>
</table>
